#!/bin/sh

# Basically no point of templating this except for the sake of simplicity

test -z "$1" && echo "./gen_recovery_conf date archive_dir [output_dir]" && exit 1;

DT=$(date -d "$1" -u +%F\ %T)
if ! [ -z $3 ]; then
	ODIR="$3/"
else
	ODIR=""
fi

ARCHIVE_DIR=$2
FN="${ODIR}recovery.conf"

echo "restore_command = 'cat ${ARCHIVE_DIR}/%f | gpg -d | gunzip > %p'" > $FN
echo "recovery_target_time = '${DT} UTC'" >> $FN

echo "Recorded ${ODIR}recovery.conf"
