[default]
region = {{postgres_pitr_config_aws_region}}
s3 =
  max_concurrent_requests = 40
  max_queue_size = 15000
  multipart_threshold = 64MB
  multipart_chunksize = 300MB
  max_bandwidth = 200MB/s